body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #ffffff;

}
/* Global (classes have ".", id's have "#")*/
.container{
  width:80%;
  margin: auto;
  overflow: hidden;
}

/* all ul's will have a 0 margin and padding by default*/
ul{
  margin: 0;
  padding: 0;
}

li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px; /* top right bottom left*/
}

.button_1{
  height: 38px;
  background: #0080ff;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff
}

.dark{
  padding:15px;
  background:#66b2ff;
  color: #ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

.highlight, .current a{
  color:#202020;
  font-weight: bold;
}

a:hover{
  color:#cccccc;
  font-weight: bold;
}

/* Header */
header{
  background: #66b2ff;
  color: #ffffff;
  padding-top:30px;
  min-height: 70px;
  border-bottom:#0080ff 3px solid;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
}

header nav{
  float: right;
  margin-top: 10px;
}

/* Footer */
footer{
  padding:20px;
  margin-top:20px;
  background-color:#66b2ff;
  color:#ffffff;
  text-align: center;
}

footer a{
  color: #ffffff;
  text-decoration: none;
  text-transform: none;
  font-size: 14px;
}

footer p{
  font-size: 14px;
  color: #ffffff;
}

footer nav{
  float: center;
}

#menu{
  text-align: left;
}

#menu a{
  font-size: 17px;
}
#footer{
  text-align: right;
}

/* showcase */
#showcase{
  min-height: 400px;
  background: url('../img/computer.jpg') no-repeat 0 -225px;
  background-size: cover;
  box-shadow: 0px 800px rgba(0, 0, 0, 0.36) inset;
  text-align: center;
}

#showcase h1{
  margin-top:100px;
  font-size: 55px;
  margin-bottom: 10px;
  color: #ffffff
}

#showcase p{
  font-size: 20px;
  color: #ffffff;
}

#contact{
  padding: 15px;
  color: #ffffff;
  background: #404040
}

#contact h1{
  float: left;
}

#contact form{
  float: right;
  margin-top:20px;
}

#contact input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}

#boxes{
  margin-top: 20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box img{
  width: 50px;
}

#boxes h3{
  font-size: 20px;
}

#boxes p{
  font-size: 15px;
}

/* Sidebar for About page */
aside#sidebar{
  float: left;
  width: 40%;
  margin-top:20px;
  padding-right: 5px;
}

/* Sidebar for Resume page */
aside#sidebar_2{
  float: left;
  width: 40%;
  margin-top:10px;
  padding-right: 5px;
}

#main{
  background-color: #ffffff
}

/* Main-col */
article#main-col{
  float: right;
  width: 55%;
  font-size: 18px;
  margin-top:20px;
}
